
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  /*font-family: 'Carter One', sans-serif;*/



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  margin: 3rem;
  /*background-image: url("/images/clearning-fields-francesco-simeti.jpg");*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #fff;
}

.header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 7rem;
  line-height: .7;
  text-transform: uppercase;
  padding-top: 10px;
}

.clip-text {
 color: #fff;
 -webkit-text-fill-color: transparent;
 background: url("/images/scenic-wallpaper.png") repeat;
 -webkit-background-clip: text;
}

.component {
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1rem;
}

button {
  background-color: #000;
  border: 2px solid #fff;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filter {

}

.collection {

}

.background-img {
  max-width: 300px;
}

.download {

}
